body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 20px;
}

.masonry-grid img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  object-fit: cover;
  cursor: grab;
}

.masonry-grid .image-caption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.masonry-grid img:hover + .image-caption {
  display: block;
}

.masonry-grid {
  display: flex;
  margin-left: -10px;
  width: auto;
}

.masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.navbar-wrapper {
  position: relative;
  display: inline-block;
  width: 100px;
  user-select: none;
}

.navbar {
  margin-top: 10px;
  margin-left: 10px;

  width: 100%;
  position: relative;
  z-index: 1;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 5px 40px 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: black;
  font-size: 16px;
  color: #ffffff;

  font-weight: 600;
}

.navbar-icon {
  position: absolute;
  color: white;
  top: 50%;
  right: 10px;
  transform: translateX(70%) translateY(-30%);
  z-index: 1;
  pointer-events: none;
}
