.overlay {
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 9999;
}

.overlay-content {
background: white;
border: 1px solid black;
border-radius: 5px;
padding: 20px;
max-width: 80%;
max-height: 80%;
overflow: auto;
position: relative;
}

.overlay-content img {
max-width: 100%;
max-height: 100%;
object-fit: contain;
margin: auto;
display: block;
}

.overlay-close-button {
position: absolute;
top: 7px;
right: 7px;
z-index: 100;
border-radius: 50%;
border: 0;

justify-content: center;
align-items: center;
padding: 10px;

font-size: 8px;
font-weight: 600;

background: radial-gradient(50% 50% at 50% 50%, #FF75F1 0%, #FFFFFF 100%);

cursor: grab;
}

.overlay-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.overlay-text {
  color: black;
  width: 30%; 
  word-break: keep-all;
  padding: 0 10px;
  margin-right: 30px; 
}

.overlay-text p {
margin-top: 30px;
font-size: 15px;
font-weight: 500;
line-height: 1.5rem;
}

.overlay-image {
  width: 70%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-image img {
  padding-bottom: 10px;
}

.additional {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.additional img {
max-width: 80%;
max-height: 100%;
object-fit: contain;
margin: auto;
display: block;
margin-bottom: 10px;
}

.br-height {
display: flex;
height: 5px;
}

.overlay-title {
font-size: 26px;
margin-bottom: 0;
}
.overlay-year {
font-size: 20px;
font-weight: 500;
}

.overlay-tag {
font-size: 0.8rem;
font-weight: 500;
padding: 5px 6px;
margin-right: 6px;
border-radius: 10px;
}

.yVideo {
margin-bottom: 20px;
}